body {
  background-color: red;

} 
h1 {
  background-color: blue;
  color:red ;
}
p {
  background-color: blue;
  color:red ;
}
marquee {
  background-color: blue;
  color:red ;
}
h3{
  background-color: blue;
  color:red ;
    
}
