body {
  background-color: red;
  background-image: url("https://media2.giphy.com/media/5jT0jaNDsM6Ik7X9yq/giphy.gif");
} 
h1 {
	background-color:red;
	color:green;	
}
marquee{
	background-color:pink;
	color:white;
} 
h2 {
	background-color:red;
	color:green;	
}
p {
	background-color:red;
	color:green;	
}
